<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/header.ejs %>
  </head>
  <body>
    <h1>Workout</h1>
    <form class="" action="/workouts/<%=workouts.id%>?_method=PUT" method="post">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Name</span>
        </div>
        <input type="text" name="name" value="<%=workouts.name%>">
      </div>
      <select name="type" class="custom-select" value="<%=workouts.type%>">
        <option selected>Open this select menu</option>
        <option value="cardio">Cardio</option>
        <option value="weights">Weights</option>
        <option value="yoga">Yoga</option>
        <option value="hiit">HIIT</option>
        <option value="cycling">Cycling</option>
        <option value="calisthenics">Calisthenics</option>
      </select><br>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Description</span>
        </div>
        <textarea class="form-control" name="description" value="<%=workouts.description%>"></textarea>
      </div><br>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Excercise</span>
        </div>
        <input type="text" name="excercises.title" value="<%=workouts.excercises.title[0]%>">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Reps</span>
        <input type="text" name="excercises.reps" value="<%=workouts.excercises.reps[0]%>">
        </div>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Excercise</span>
        </div>
        <input type="text" name="excercises.title" value="<%=workouts.excercises.title[1]%>">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Reps</span>
          <input type="text" name="excercises.reps" value="<%=workouts.excercises.reps[1]%>">
        </div>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Excercise</span>
        </div>
        <input type="text" name="excercises.title" value="<%=workouts.excercises.title[2]%>">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Reps</span>
          <input type="text" name="excercises.reps" value="<%=workouts.excercises.reps[2]%>">
        </div>
      </div>
      <input type="submit" class="btn btn-primary" name="" value="Submit">
    </form>
    <a href='/workouts/<%=workouts.id%>'>Back to Workouts page</a>
  </body>
</html>
